<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputScript name="js/jquery.min.js" />
        <h:outputStylesheet name="css/bootstrap/bootstrap.min.css" />
        <h:outputStylesheet name="css/customStyles/shared.css" />
        <h:outputStylesheet name="css/customStyles/index.css" />
    </h:head>
    <h:body class="container-fluid no-padding">
        
<!--                <form method="POST" action="j_security_check">
                <label for="j_username">Username:</label>
                <input type="text" name="j_username" />
                <label for="j_password">Password:</label>
                <input type="password" name="j_password" />
                <input type="submit" value="Submit"/>
                </form>-->
            
        <div class="col-sm-12 no-padding main">
            <div class="overlay">
                <div class="col-sm-12 no-padding header text-center text-capitalize">Authentication Error</div>
                <div class="col-sm-12 no-padding message text-center text-capitalize">The user credentials you have supplied are incorrect.</div>
                <div class="col-sm-12 no-padding message text-center text-capitalize">Please attempt to <h:link outcome="login" value="login" /> again.</div>
                
            </div>
        </div>
    </h:body>
</html>
