<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{indexManagedBean.appTitle}</title>
        
        <h:outputScript name="js/jquery.min.js" />
        <h:outputStylesheet name="css/bootstrap/bootstrap.min.css" />
        <h:outputStylesheet name="css/customStyles/shared.css" />
        <h:outputStylesheet name="css/customStyles/index.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    </h:head>
    <h:body class="container-fluid no-padding">
        <div class="col-sm-12 no-padding main">
            <div class="overlay">
                <div class="col-sm-12 no-padding header text-center text-capitalize">#{indexManagedBean.pageTitle}</div>
                <h:panelGroup>
                    <h:form>
<!--                        <div class="col-sm-12 no-padding search">
                            <div class="container">
                                <div class="col-sm-12" style="height:75px;">
                                    <div class="col-sm-offset-2 col-sm-3 dateBox">
                                        <div class="form-group">
                                            <div>Start</div>

                                            <div class='input-group date' id='startDate'>
                                                <input type='text' class="form-control" name="startDate" />
                                                <span class="input-group-addon" style="visibility: hidden;"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 dateBox">
                                        <div class="form-group">
                                            <div>End</div>

                                            <div class='input-group date' id='endDate'>
                                                <input type='text' class="form-control" name="org_endDate" />
                                                <span class="input-group-addon" style="visibility: hidden;"><span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <h:commandButton class="col-sm-2 text-center button1 searchButton" type="submit" value="Search" action="register.xhtml"/>
                                </div>
                            </div>-->
<!--                            <script type="text/javascript">
                                    jQuery('#startDate').datepicker({
                                            format: 'mm-dd-yyyy',
                                            autoclose: true,
                                            templates: {
                                                leftArrow: '<i class="fa fa-long-arrow-left"></i>',
                                                rightArrow: '<i class="fa fa-long-arrow-right"></i>'
                                            },
                                            todayHighlight: true
                                    }).on("changeDate",function (e) {
                                            jQuery('#endDate').datepicker("setStartDate", e.date);
                                    });

                                    jQuery('#endDate').datepicker({
                                            format: 'mm-dd-yyyy',
                                            autoclose: true,
                                            templates: {
                                                leftArrow: '<i class="fa fa-long-arrow-left"></i>',
                                                rightArrow: '<i class="fa fa-long-arrow-right"></i>'
                                            },
                                            todayHighlight: true
                                    }).on("changeDate",function (e) {
                                            jQuery('#startDate').datepicker("setEndDate", e.date);
                                    });
                                    
                            </script>-->
                        <!--</div>-->
                        <div class="col-sm-12 no-padding buttons" >
                            <h:commandButton class="col-sm-offset-5 col-sm-2 text-center button1" id="register" type="submit" value="REGISTER" action="#{indexManagedBean.gotoRegisterForm()}" />
                            
                            
<!--                         <div class="col-sm-offset-3 col-sm-2 text-center button1">
                                <span>REGISTER</span>
                            </div>
                            <div class="col-sm-offset-2 col-sm-2 text-center button1">
                                <span>LOGIN</span>
                            </div> -->          
                        </div>
                        <div class="col-sm-12 no-padding buttons">
                            <h:outputLink class="col-sm-offset-3 col-sm-2 text-center button1 loginLink" value="admin/index.xhtml">ADMIN LOGIN</h:outputLink>
                            <!--<h:outputLabel value="#{indexManagedBean.helper.setCurrentUser(request.remoteUser)}" />-->
                            <h:outputLink class="col-sm-offset-2 col-sm-2 text-center button1 loginLink" value="users/index.xhtml">USER LOGIN</h:outputLink>
                        </div>
                    </h:form>
                </h:panelGroup>
            </div>
        </div>-->
    </h:body>
</html>

