<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{indexManagedBean.appTitle}</title>
        
        <h:outputScript name="js/jquery.min.js" />
        <h:outputStylesheet name="css/bootstrap/bootstrap.min.css" />
        <h:outputStylesheet name="css/customStyles/shared.css" />
        <h:outputStylesheet name="css/customStyles/index.css" />
    </h:head>
    <h:body class="container-fluid no-padding">
        
<!--                <form method="POST" action="j_security_check">
                <label for="j_username">Username:</label>
                <input type="text" name="j_username" />
                <label for="j_password">Password:</label>
                <input type="password" name="j_password" />
                <input type="submit" value="Submit"/>
                </form>-->
            
        <div class="col-sm-12 no-padding main">
            <div class="overlay">
                <div class="col-sm-12 no-padding header text-center text-capitalize">#{indexManagedBean.pageTitle}</div>
                <h:panelGroup>
                    <form method="POST" action="j_security_check">
                        <div class="col-sm-12 no-padding register-form">
                            <div class="col-sm-offset-3 col-sm-6 no-padding">
                                <input type="text" class="col-sm-8 no-padding  form-input" name="j_username" placeholder="Username" value="#{indexManagedBean.helper.currentUser}"/>
<!--                                <h:inputText id="username" class="col-sm-8 no-padding  form-input" a:placeholder="Username" required="true" requiredMessage="Field cannot be null">
                                </h:inputText>
                                <h:message class="col-sm-4 no-padding" for="username" style="color:red"></h:message>-->
                            </div>
                            <div class="col-sm-offset-3 col-sm-6 no-padding">
                                <input type="text" class="col-sm-8 form-input" name="j_password" placeholder="Password" value="#{indexManagedBean.pass}"/>
<!--                                <h:inputText id="password" class="col-sm-8 form-input" a:placeholder="Password"/>
                                <h:message class="col-sm-4 no-padding" for="password" style="color:red"></h:message>-->
                            </div>
                            <!--<input type="submit" class="col-sm-offset-5 col-sm-2 button1" value="LOGIN" onclick="#{indexManagedBean.doLogin()}"/>-->
                                <h:commandButton type="submit" class="col-sm-offset-5 col-sm-2 button1" value="LOGIN" immediate="true" onclick="#{indexManagedBean.helperRepository.addHelper(helper)}" />
                            
                        </div>
                    </form>
                    <h:form>
                        <h:commandButton type="submit" class="col-sm-offset-5 col-sm-2 button1" value="CANCEL" action="index.xhtml?faces-redirect=true"/>
                    </h:form>
                </h:panelGroup>
            </div>
        </div>
    </h:body>
</html>

