/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2018, 5:05:55 PM
    Author     : Vijju
*/
.main{
    background: url(../../images/i2_1.jpg);
    height: inherit;
    background-size: cover;
    color: white;
    
}
.overlay{
    background: rgba(0,0,0,0.3);
    height: inherit;
}
.header{
    height: 21rem;
    padding: 3rem;
    font-size: 10rem;
}
.message{
    height: 10rem;
    padding: 3rem;
    font-size: 5rem;
}
.message a:hover{
    text-decoration: none;
}
.search{
    height: 25rem;
    padding-top: 5rem;
}
.buttons{
    height: 20rem;
    padding-bottom: 5rem;
}
.button1{
    border: #ffffff solid 5px;
    color: white;
    height: 6rem;
    border-radius: 25px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    background: transparent;
    outline: none;
    margin-top: 4rem;
}
.button1:hover{
    background: white;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.loginLink{
    padding: 1rem;
}

.loginLink:visited{
    text-decoration: none;
}

.button1 span{
        height: 5rem;
        display: table-cell;
        vertical-align: middle;
        width: inherit;
    }
    
.dateBox{
    margin-top: 4rem;
}
.searchButton{
    height: 4.5rem;
    margin-top: 5.5rem;
}
.form-control{
    border-radius: 10px !important;
} 
.datepicker-dropdown{
    top: 35.5rem !important;
    border-radius: 20px;
    background: url(../../images/cal8.png) no-repeat;
    background-size: cover;
    color: black;
    font-weight: 600;
}

.register-form .form-input{
    display: block;
    height: 33px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-bottom: 1rem;
    outline: none;
    
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.register-form .button1{
    margin-top: 0;
    height: 5rem;
}

